.shepherd-element, .shepherd-header, .shepherd-footer {
    border-radius: 0;
}

.shepherd-element {

    border: 4px solid #16202D;
    font-family: 'Roboto Condensed', sans-serif;
}

.shepherd-arrow {
    display: none;
}

.shepherd-element .shepherd-arrow:after {
    content: url('/images/arrow.svg');
    display: inline-block;
}

.shepherd-element[data-popper-placement^='top'] .shepherd-arrow,
.shepherd-element.shepherd-pinned-top .shepherd-arrow {
    bottom: -35px;
}

.shepherd-element[data-popper-placement^='top'] .shepherd-arrow:after,
.shepherd-element.shepherd-pinned-top .shepherd-arrow:after {
    transform: rotate(270deg);
}

.shepherd-element[data-popper-placement^='bottom'] .shepherd-arrow {
    top: -35px;
}

.shepherd-element[data-popper-placement^='bottom'] .shepherd-arrow:after {
    transform: rotate(90deg);
}

.shepherd-element[data-popper-placement^='left'] .shepherd-arrow,
.shepherd-element.shepherd-pinned-left .shepherd-arrow {
    right: -35px;
}

.shepherd-element[data-popper-placement^='left'] .shepherd-arrow:after,
.shepherd-element.shepherd-pinned-left .shepherd-arrow:after {
    transform: rotate(180deg);
}

.shepherd-element[data-popper-placement^='right'] .shepherd-arrow,
.shepherd-element.shepherd-pinned-right .shepherd-arrow {
    left: -35px;
}

.shepherd-element .shepherd-arrow {
    border-width: 0;
    height: auto;
    width: auto;
}

.shepherd-element .shepherd-arrow:before {
    display: none;
}

.shepherd-text {
    font-size: 1.1rem;
    padding: 1rem 2rem 1.5rem 2rem;
}

.shepherd-footer {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    justify-content: flex-end;
    padding: 0;
}

.shepherd-button {
    background: #da3530;
    border-top: solid 4px #16202D;
    border-radius: 0;
    color: #fff;
    display: flex;
    flex-grow: 1;
    font-weight: bold;
    font-size: 1.2rem;
    justify-content: center;
    margin: 0;
    padding: 1rem;
    text-align: center;
}

.shepherd-footer button:not(:last-of-type) {
    border-right: solid 4px #16202D;
}

.shepherd-button.shepherd-button-secondary {
    background: #506a84;
    color: #fff;
}

.shepherd-button.shepherd-button-secondary:not(:disabled):hover {
    color: #fff;
    background: #16202D;
}

.shepherd-button:not(:disabled):hover {
    background: #16202D;
    color: #ffffff;
}


.shepherd-has-title .shepherd-content .shepherd-header {
    background: transparent;
    padding-bottom: 0;
    padding-left: 2rem;
}

.shepherd-has-title .shepherd-content .shepherd-header .shepherd-title {
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.5;
}

.shepherd-has-title .shepherd-content .shepherd-cancel-icon {
    margin-top: -7px;
}

.shepherd-modal-overlay-container.shepherd-modal-is-visible {
    opacity: 0.7;
}
